<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531885296634-b1696o03hb54n1bk6n859574q996b8u8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531885296634-b1696o03hb54n1bk6n859574q996b8u8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>531885296634-arrvuvj2ru5n2va63dqmlr62oaga797r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUhM8r_bOT3Mb9JpVdj2w211_esrBnLFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>531885296634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.marketky</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-project-107f4</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-project-107f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531885296634:ios:84b0a93eb88d2906d13243</string>
	<key>DATABASE_URL</key>
	<string>https://ecommerce-project-107f4-default-rtdb.firebaseio.com</string>
</dict>
</plist>